appdirs==1.4.0
boto==2.38.0
cffi==1.9.1
chardet==2.3.0
configargparse==0.12.0
cryptography==1.7.2
docopt==0.6.2
duplicity==0.7.6
ecdsa==0.13.3
enum34==1.1.6
Fabric==1.13.1
idna==2.2
ipaddress==1.0.18
lockfile==0.12.2
ndg-httpsclient==0.4.0
packaging==16.8
paramiko==2.1.1
py==1.4.32
pyasn1==0.2.2
pycparser==2.17
pycrypto==2.6.1
pygobject==3.20.0
pyOpenSSL==17.5.0
pyparsing==2.1.10
pytest==3.0.6
python-cloudfiles==1.7.10
pyxdg==0.26
PyYAML==3.12
requests==2.20.0
six==1.10.0
urllib3==1.24.2
voluptuous==0.9.3
